html {

    font-family: 'Times New Roman', Times, serif;
}
.parraf-1{
color: rgb(221, 9, 9);
size: 15px;

}
.h1{
size: 30px;
color:  hotpink;

}
.parraf-2{

    color: rgb(65, 1, 214);
   
    size: 15px;
    
}
.parraf-3{

    color: rgb(0, 177, 88);
    text-align: center;
    size: 15px;
}
